log
config
tmp
*.mp4
.idea
*.DS_Store
public/video/.DS_Store
public/.DS_Store
projectFilesBackup*
public/data/
public/upload/*
public/uploads/*
public/timeLineupload/*
uploads/*
public/FunckyFrontUpload/
public/FunckyUpload/
