.dmcc{
    width: 5px;
    height: 1260px;
    margin: 0 auto;
    position: absolute;
    top: 45px;
    left: 45px;
    background-color: #d7e4ed;
}
.dmcl{
    width: 70px;
    height: 5px;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    left: 60px;
    background-color: #d7e4ed;
}

.dmcr{
    width: 60px;
    height: 5px;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    left: -25px;
    background-color: #d7e4ed;
}
#l1{
    position: absolute;
    width:60px;
    height: 1840px;
    left:60px;
    top:45px;
}

#r1{
    position: absolute;
    width:60px;
    height: 1840px;
    left:-15px;
    top:45px;
}

#left{
    height:340px;
    overflow: auto;
}

#right{
    height:550px;
    overflow: auto;
}

#left,#right .alert{
    cursor: pointer;
}
