<div style="height:800px;overflow:scroll">
<div class="panel panel-default" ng-repeat="theme in themeList">
    <div class="panel-heading">
        <h3 class="panel-title">{{theme.theme}}</h3>
    </div>
    <div class="panel-body">
        {{theme.desc}}

        <div class="pull-right">
        <a  ng-click="createRoom(theme.theme,theme.num,1)" class="btn btn-info ">
            <span class="glyphicon glyphicon-floppy-save"></span><br>討論ルームを作ろう
        </a>

        <a  ng-click="createRoom(theme.theme,theme.num,2)" class="btn btn-success ">
            <span class="glyphicon glyphicon-floppy-save"></span><br>討論ルームを作ろう
        </a>
        </div>

    </div>
</div>
</div>
